.hours {
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 .1em 0;
  border-radius: .25em;
  color: #444444;
  background-color: #F5F5F5;
  border: solid #B1B1B1 1px;
}

#hours-difference {
  padding: .3em .4rem .2em;
  color: #8A2E2E;
  background: #FFD7D7;
}

#hours-open {
  font-family: Georgia, serif;
  font-size: 1.3em;
  margin: .3em .4rem;
}

.hours-day {
  margin: .2em .4rem;
  color: #969696;
}

.hours-day-name {
  display: inline-block;
  width: 2.5em;
}

.hours-day-details {
  display: inline-block;
}

.hours-today {
  color: #4B4B4B;
  font-weight: bold;
}
